<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
     </button>
    <ion-title>Lista de Usuários</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-fab top right edge #fab>
    <button ion-fab color="light">
        <ion-icon name="md-options"></ion-icon>
    </button>
    <ion-fab-list side="buttom">
        <button ion-fab (click)="scrollToTop()" color="dark">
            <ion-icon name="arrow-round-up"></ion-icon>
        </button>
        <button ion-fab (click)="scrollToBottom()" color="dark">
            <ion-icon name="arrow-round-down"></ion-icon>
        </button>
    </ion-fab-list>
  </ion-fab>

  <ion-list>
    <ion-item-sliding #item *ngFor="let usuario of usuarios">
      <ion-item>
       <ion-thumbnail item-start>
          <img class="circle" src="{{bucketUrl}}/cp{{usuario?.id}}.jpg" onError="this.src='assets/imgs/avatar-blank.png'">
       </ion-thumbnail>
       <h2>{{ usuario.nome }}</h2>
       <p>{{ usuario.email }}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="dark" (click)="details(usuario.id)">Detalhes</button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item *ngIf="usuarios.length == 0" >
          <h2>Nenhum usuário foi encontrado!</h2>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!search">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer no-border>
    <ion-toolbar color="dark">
      <ion-title>
        <ion-searchbar placeholder="Pesquisar..."
          [(ngModel)]="search"
          [showCancelButton]="false"
          (ionInput)="onInput($event.target.value)"
          (ionCancel)="onCancel($event)"
          (ionClear)="onClear($event)">
        </ion-searchbar>
      </ion-title>
    </ion-toolbar>
  </ion-footer>