<ion-header>
  <ion-navbar color="dark">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
     </button>
    <ion-title>Visualizar série</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group *ngFor="let item of items; let i = index">
    <ion-item-divider color="light"><h1>{{ item.Key }}</h1></ion-item-divider>
    <ion-item *ngFor="let it of item.Elements">
          <h2>{{ it.exercicio.nome }}</h2>
          <p item-end>{{ it.repeticoes }}</p>
          <p>{{ it.observacao }}</p>
    </ion-item>
  </ion-item-group>
  <ion-content padding *ngIf="count != 0">
      <ion-item>
          <ion-label color="dark" floating>Visão geral da série</ion-label>
          <ion-input type="text" [(ngModel)]="observacao" name="observacao"></ion-input>
        </ion-item>
        <ion-item>
            <button ion-button block color="dark" (click)="save()">Concluir série</button>
        </ion-item>
  </ion-content>
</ion-content>
