<ion-header>
  <ion-navbar color="dark">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
     </button>
    <ion-title>Minhas solicitações</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-fab top right edge>
    <button ion-fab color="light">
        <ion-icon name="md-options"></ion-icon>
    </button>

    <ion-fab-list side="buttom">
        <button ion-fab (click)="scrollToTop()" color="dark">
            <ion-icon name="arrow-round-up"></ion-icon>
        </button>
        <button ion-fab (click)="scrollToBottom()" color="dark">
            <ion-icon name="arrow-round-down"></ion-icon>
        </button>
    </ion-fab-list>

    <ion-fab-list side="left">
      <button ion-fab (click)="showSerieFormNew()" color="light">
        <ion-icon name="md-add-circle"></ion-icon>
    </button>
  </ion-fab-list>

  </ion-fab>

  <ion-list>
    <ion-item-sliding #item *ngFor="let solicitacao of solicitacoes">
      <ion-item>
       <ion-grid>
        <ion-row>
          <ion-col>
            <h2><b>Objetivo:</b> {{ solicitacao.tipoSerie | titlecase }}</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p><b>Data:</b> {{ solicitacao.dataSolicitacao }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="dark" (click)="details(solicitacao.id)">Detalhes</button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item *ngIf="total === 0" >
        <h2>Nenhuma solicitação foi encontrada!</h2>
    </ion-item>
  </ion-list>
</ion-content>
