<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
     </button>
    <ion-title>Série</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-fab top right edge #fab>
    <button ion-fab color="light">
        <ion-icon name="md-options"></ion-icon>
    </button>
    <ion-fab-list side="buttom">
        <button ion-fab (click)="scrollToTop()" color="dark">
            <ion-icon name="arrow-round-up"></ion-icon>
        </button>
        <button ion-fab (click)="scrollToBottom()" color="dark">
            <ion-icon name="arrow-round-down"></ion-icon>
        </button>
    </ion-fab-list>
    <ion-fab-list side="left">
        <button ion-fab (click)="redirectToGroupPage(); closeFab($event, fab)" color="light">
          <ion-icon name="md-add-circle"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
  <ion-item *ngIf="count == 0">
    <h2>Não há exercicios na série!</h2>
    <br>
    <button ion-button block color="dark" (click)="redirectToGroupPage(); closeFab($event, fab)" >Inserir novo exercício</button>  
  </ion-item>
  <ion-card *ngFor="let item of items; let i = index; trackBy: customTrackBy">
    <ion-item>    
      <h2><b>Exercício:</b> {{ item.exercicio.nome }}</h2>

    </ion-item>
    <ion-item>
        <ion-label>Grupo de série</ion-label>
        <ion-select [(ngModel)]="letra[i]" (ionChange)="addLetra(item.exercicio, i)">
          <ion-option [value]="A">A</ion-option>
          <ion-option [value]="B">B</ion-option>
          <ion-option [value]="C">C</ion-option>
          <ion-option [value]="D">D</ion-option>
          <ion-option [value]="E">E</ion-option>
          <ion-option [value]="F">F</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Repetições</ion-label>
      <ion-select [(ngModel)]="repeticao[i]" (ionChange)="addRepeticoes(item.exercicio, i)">
        <ion-option [value]="'8-8-8'">8-8-8</ion-option>
        <ion-option [value]="'10-10-10'">10-10-10</ion-option>
        <ion-option [value]="'12-12-12'">12-12-12</ion-option>
        <ion-option [value]="'15-15-15'">15-15-15</ion-option>
        <ion-option [value]="'21-21-21'">21-21-21</ion-option>
        <ion-option [value]="'12-10-8-6'">12-10-8-6</ion-option>
        <ion-option [value]="'12-12-10-10'">12-12-10-10</ion-option>
        <ion-option [value]="'12-12-12-12'">12-12-12-12</ion-option>
        <ion-option [value]="'15-15-15-15'">15-15-15-15</ion-option>
      </ion-select>
  </ion-item>
  <ion-item>
      <button ion-button item-end color="dark" (click)="removeItem(item.exercicio)">
          <ion-icon name="md-trash"></ion-icon>
      </button>
    <ion-label floating>Observação</ion-label>
    <ion-input type="text" [(ngModel)]="observacao[i]" (change)="addObservacoes(item.exercicio, i)" maxLength="30"></ion-input>
  </ion-item>
    <hr>
  </ion-card>
  <button ion-button block outline color="dark" (click)="redirectToGroupPage(); closeFab($event, fab)" *ngIf="count < 5">Continuar montando</button>
  <button ion-button block color="dark" (click)="reorder(); closeFab($event, fab)" *ngIf="count != 0">Ordenar</button>
  <button ion-button block color="tertiary" (click)="deleteStorageCart(); closeFab($event, fab)" *ngIf="count != 0">Refazer</button>
</ion-content>