<ion-header>
  <ion-navbar color="dark">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
     </button>
    <ion-title>Série</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let item of items; let i = index; trackBy: customTrackBy">
    <ion-item>    
      <h2><b>Exercício:</b> {{ item.exercicio.nome }}</h2>
      <button ion-button item-end color="dark" (click)="removeItem(item.exercicio)">
          <ion-icon name="md-trash"></ion-icon>
      </button>
    </ion-item>
    <ion-item>
        <ion-label>Grupo de série</ion-label>
        <ion-select [(ngModel)]="letra[i]" (ionChange)="addLetra(item.exercicio, i)">
          <ion-option [value]="A">A</ion-option>
          <ion-option [value]="B">B</ion-option>
          <ion-option [value]="C">C</ion-option>
          <ion-option [value]="D">D</ion-option>
          <ion-option [value]="E">E</ion-option>
          <ion-option [value]="F">F</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Repetições</ion-label>
      <ion-select [(ngModel)]="repeticao[i]" (ionChange)="addRepeticoes(item.exercicio, i)">
        <ion-option [value]="'8-8-8'">8-8-8</ion-option>
        <ion-option [value]="'10-10-10'">10-10-10</ion-option>
        <ion-option [value]="'12-12-12'">12-12-12</ion-option>
        <ion-option [value]="'15-15-15'">15-15-15</ion-option>
        <ion-option [value]="'21-21-21'">21-21-21</ion-option>
        <ion-option [value]="'12-10-8-6'">12-10-8-6</ion-option>
        <ion-option [value]="'12-12-10-10'">12-12-10-10</ion-option>
        <ion-option [value]="'12-12-12-12'">12-12-12-12</ion-option>
        <ion-option [value]="'15-15-15-15'">15-15-15-15</ion-option>
      </ion-select>
  </ion-item>
  <ion-item>
    <ion-label floating>Observação</ion-label>
    <ion-input type="text" [(ngModel)]="observacao[i]" (change)="addObservacoes(item.exercicio, i)" maxLength="30"></ion-input>
  </ion-item>
    <hr>
  </ion-card>
  <button ion-button block color="dark" (click)="redirectToGroupPage()">Continuar Montando</button>
  <button ion-button block outline color="dark" (click)="reorder()" *ngIf="count != 0">Ordenar</button>
  <button ion-button block color="tertiary" (click)="deleteStorageCart()" *ngIf="count != 0">Refazer</button>
</ion-content>