<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
     </button>
    <ion-title>Solicitações</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
      <ion-label>Filtro</ion-label>
      <ion-select [(ngModel)]="filter" (ionChange)="filterBy()">
        <ion-option [value]="1">Pendente</ion-option>
        <ion-option [value]="2">Concluído</ion-option>
        <ion-option [value]="3">Rejeitado</ion-option>
        <ion-option [value]="4" selected>Sem filtro</ion-option>
      </ion-select>
  </ion-item>

  <ion-fab top right edge #fab>
    <button ion-fab color="light">
        <ion-icon name="md-options"></ion-icon>
    </button>
    <ion-fab-list side="buttom">
        <button ion-fab (click)="scrollToTop()" color="dark">
            <ion-icon name="arrow-round-up"></ion-icon>
        </button>
        <button ion-fab (click)="scrollToBottom()" color="dark">
            <ion-icon name="arrow-round-down"></ion-icon>
        </button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab bottom right edge *ngIf="showMenuRedirectToGroupPage == true">
    <button ion-fab color="dark" (click)="redirectToGroupPage()">
        Série
    </button>
  </ion-fab>

  <ion-list>
    <ion-item-sliding #item *ngFor="let solicitacao of solicitacoes">
      <ion-item>
       <ion-grid>
        <ion-row>
          <ion-col>
            <h2><b>Aluno:</b> {{ solicitacao.solicitante }}</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p><b>Data:</b> {{ solicitacao.dataSolicitacao }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="dark" (click)="details(solicitacao.id); closeFab($event, fab)">Detalhes</button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item *ngIf="total === 0" >
        <h2>Nenhuma solicitação foi encontrada!</h2>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer no-border>
    <ion-toolbar color="dark">
      <ion-title>
        <ion-searchbar placeholder="Pesquisar..."
          [(ngModel)]="search"
          [showCancelButton]="false"
          (ionInput)="onInput($event.target.value)"
          (ionCancel)="onCancel($event)"
          (ionClear)="onClear($event)">
        </ion-searchbar>
      </ion-title>
    </ion-toolbar>
  </ion-footer>