// http://ionicframework.com/docs/theming/
//GLOBAL STYLES
@import "../theme/icons.scss";

yellowFont{
    color: yellow !important;
}

.item-md.item-input .item-inner {
    border-bottom-color: black !important;
    box-shadow: inset 0 -1px 0 0 black !important
}

.item-input-has-focus .label-md[stacked], .input-has-focus .label-md[floating]{
    color: black; 
}

.hide-card {
    -webkit-box-shadow: none!important;
  }

.custom-avatar {
    height: 30vw;
    width: 30vw;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }

  .card-md {
    margin: 0px;
    border-radius: 2px;
    width: calc(100% - 0px);
  }

  .custom-avatar {
    border: 0px solid #ffff00;
  }
 
  .alert-md .alert-button {
      color: black;
  }

  .alert-md .alert-input {
    border-bottom: 1px solid #222 !important;
  }

  ion-chip ion-icon {
    height: 20px !important;
  }