<ion-header>
    <ion-navbar color="dark">
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
       </button>
      <ion-title>Detalhes da solicitação</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>
    <ion-card>    

        <ion-item>
          <ion-icon name='md-person' item-start style="color: #000000"></ion-icon>
          Aluno(a)
          <ion-badge item-end color="dark">{{ solicitacao?.solicitante}}</ion-badge>
        </ion-item>

        <ion-item>
          <ion-icon name='md-calendar' item-start style="color: #000000"></ion-icon>
          Data
          <ion-badge item-end color="dark">{{ solicitacao?.dataSolicitacao}}</ion-badge>
        </ion-item>
    
        <ion-item>
          <ion-icon name='list-box' item-start style="color: #000000"></ion-icon>
          Objetivo
          <ion-badge item-end color="dark">{{ solicitacao?.tipoSerie | titlecase}}</ion-badge>
        </ion-item>
    
        <ion-item>
          <ion-icon name='md-stats' item-start style="color: #000000"></ion-icon>
          Status
          <ion-badge item-end color="dark">{{ solicitacao?.statusSerie | titlecase}}</ion-badge>
        </ion-item>

        <ion-item>
          <ion-icon name='md-paper' item-start style="color: #000000"></ion-icon>
          Descrição
          <ion-icon item-end style="color: #000000" (click)="toggleGroup(accordionDescricao)"  [ngClass]="{active: isGroupShown(accordionDescricao)}">
              <ion-icon color="success" [name]="isGroupShown(accordionDescricao) ? 'md-remove' : 'md-add'" ></ion-icon>
          </ion-icon>
        </ion-item>
        <div class="accordionItem" *ngIf="isGroupShown(accordionDescricao)" [@slideInOut]>
            <ion-item><p class="breakLine">{{ solicitacao?.descricao }}</p></ion-item>
        </div>

        <ion-item *ngIf="solicitacao?.justificativa">
          <ion-icon name='md-document' item-start style="color: #000000"></ion-icon>
          Justificativa
          <ion-icon item-end style="color: #000000" (click)="toggleGroup(accordionJustificativa)"  [ngClass]="{active: isGroupShown(accordionJustificativa)}">
              <ion-icon color="success" [name]="isGroupShown(accordionJustificativa) ? 'md-remove' : 'md-add'"></ion-icon>
          </ion-icon>
        </ion-item>
        <div class="accordionItem" *ngIf="isGroupShown(accordionJustificativa)" [@slideInOut]>
              <ion-item><p class="breakLine">{{ solicitacao?.justificativa }}</p></ion-item>
        </div>

        <ion-item *ngIf="professor === true && solicitacao?.statusSerie == 'PENDENTE'">
            <button ion-button block color="dark" (click)="createNewSerie(solicitacao?.id, solicitacao?.solicitante)">Criar Série</button>
            <button *ngIf="!solicitacao?.justificativa" ion-button block outline color="dark" (click)="rejectPrompt(solicitacao?.id)">Rejeitar Solicitação</button>
        </ion-item>
      </ion-card>
</ion-content>
